* {
  margin: 0;
  padding: 0;
}

body {
  background: burlywood;
}

.wrapper {
  max-width: 800px;
  margin: auto;
  background: rgb(124, 124, 255);
  padding: 20px;
}

.main {
  display: flex;
  flex-direction: column;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
}

.key {
  padding: 10px;
  background: lightblue;
  display: flex;
}

.clearfix {
  display: block;
  width: 100%;
  clear: both;
}

.active {
  background: rgb(117, 247, 85);
}

.uppercase {
  text-transform: capitalize;
}
